body{
	font-family: "Times New Roman", Times, serif;
	background-image: linear-gradient(to right, violet, indigo, blue, green, yellow, orange, red, red,orange,yellow,green,blue,indigo,violet);
	margin-left: 43px;
}

.left {
	width: 20%
}

.right{
	width: 50%;
}

.column {
  float: left;
  width: 45%;

}

.downfoo{
	padding: 0px 10px 10px 13px;	
}

.links{
	border-style:outset;
	border-width: 5px;
	width: 100px;
	text-align: center;
}


.row:after {
  content: "";
  display: table;
  clear: both;
}


img{
	padding-left: 34px;
}

xli{
	font-size: 16.3px;
}

xli2{
	font-size: 19px;
}

button {
   font-size: 18px;
   border: 2px solid #00FFF0;
   border-radius:1px;
   width: 110px;
   height: 40px;
}

.stats{
	padding-left: 207px;
}

#bstats{ 
	background-color: red;
	border-width: 3px;
	border-color: black;
	border-radius: 15px;
	width: 130px;
}

.calc {
	font-size: 22px;
	width:90%;
	background-image: linear-gradient(to right, red , yellow);
	padding: 0px 0px 26px 0px;
}

.justified{
	text-align: justify;
}

p{

	text-align: justify;
	width: 95%
}

h1 {
	font-size: 39px;
	text-align: center;
	color: black;
}

ol{
	position: relative;
	margin: auto;
	width:80%;
	text-align: justify;
}

}
h2 {
	padding-left: 25px;
}
h3 {
	padding-left: 25px;
}

div {   
  	padding: 0px 10px 20px 40px;
}


form {

	padding: 0px 50px 20px 202px;
}

li {
	padding: 5px 0px 15px 0px;
}


footer{
	text-align: center;
}
